@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  /* min-width: 480px; */
  height: 100vh;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  border-radius: 60%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* avtar img animation */
.user-avatar-img{
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }

  45% {
    transform: translate3d(0, -10%, 0);
  }

  55% {
    transform: translate3d(0, -10%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}



